a:link {
  color: red;
}

body {
  background-color: darkgray;
  padding: 1rem;
}

aside {
  float: right;
  background-color: mediumpurple;
  color: white;
  padding: 1rem;
}

footer {
  background-color: black;
  padding: 1rem;
  clear: both;
  color: white; 
}
