a:link, a:visited {
  color: red;
}

header {
  padding: 0.5rem;
  background-color: black;
}

h1 {
  color: white;
  padding: 0.5rem; 
}

h3 {
  color: darkgray;
}

nav {
  background-color: darkgray;
}

nav a {
  padding: 15px;
}

.book-now {
  color: red;
  float:right;
}

.purple {
  color: purple;
}

h2, p {
  color: black;
}

aside {
  float: right;
  border: solid;
  border-color: black;
  border-width: thin;
  margin-right: 1%;
  width: 19%;
  margin-top: 10px;
  margin-bottom: 10px;
}

article {
  float: right;
  width: 78%;
}

figure img {
  width: 10em;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

h5 {
  text-align: center;
}
footer {
  background-color: black;
  padding: 0.5rem;
  clear: both;
  color: white; 
}
